@* <form method="get" action='@Url.Action("Jugar","Home")' enctype="multipart/form-data">
<input type="text" name="Nombre" placeholder="Ingrese su nombre">
<input Type="submit" value="Jugar">
</form> *@

<a class="btn btn-warning" id="play" href='@Url.Action("Pregunta","Home")'>Jugar</a>