<body id="fondoRespuestaPregunta">
  <div id="seguirOretirarse" class="card-body">
    <h5 class="card-title">¿Quiere seguir jugando o retirarse con el pozo acumulado?</h5>
  </div>
    <div class="container opcionesRespuesta">
  <div class="row align-items-start">
    <div class="col">
      <a class="btn btn-danger" id="Retirar" href='@Url.Action("PantallaFindelJuego","Home")'>RETIRARSE</a>
    </div>
    <div class="col">
      <a class="btn btn-success" id="Retirar" href='@Url.Action("Pregunta","Home")'>SIGUIENTE</a>
    </div>
  </div>
</div>
</body>