
    <a class="btn btn-success" id="Retirar" href='@Url.Action("Pregunta","Home")'>SIGUIENTE</a>
    <a class="btn btn-danger" id="Retirar" href='@Url.Action("PantallaFindelJuego","Home")'>RETIRARSE</a>